[Unit]
Description=Back up the Astoria database

[Service]
Type=oneshot
User=astoria
Group=astoria
EnvironmentFile=/etc/astoria/astoria.env
UMask=0027
ExecStart=/opt/astoria/node/bin/node --disable-warning=ExperimentalWarning /opt/astoria/current/server/index.mjs backup 14
