[Unit]
Description=Install the latest Astoria release from GitHub
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/astoria/bin/astoria-deploy
